<!-- header.html -->
<header>
    <!-- Navigation Bar -->
    <div class="nav-bar">
        <div class="nav-links">
            <div class="logo">
                <a href="/" class="brand">
                    <h1>Film<span class="bold">Flix</span></h1>
                </a>
            </div>
            <div class="nav-items">
                <a href="/films" class="mr-4 font-light">Search Films</a>
                <a href="/films#allFilms" class="mr-4 font-light">All Films</a>
                <a href="/admin" class="mr-4 font-light">Admin</a>
            </div>
        </div>
    </div>
</header>